<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<input type="text" id="aaa"> <button onclick="sendMessage(document.getElementById('aaa').value)">发送按钮</button>
<div style="margin-top: 50px;">
        <textarea name="bbb" id="bbb" cols="100" rows="30">
            写程序真是个令人头秃的事情
            {"a":<{$a}>,"ac":"<{$ac}>","b":"<{$b}>","c":<{$c}>,"ct":"<{$ct}>","d":"<{$d}>","e":"<{$e}>","f":<{$f}>}
        </textarea>
</div>
</body>
</html>

<script>
    //获取URL参数
    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }


    const ws = new WebSocket("ws://127.0.0.1:9091/aaa?id="+(getQueryVariable("id")?getQueryVariable("id"):Math.round(new Date() / 1000)));

    var ele = document.getElementById("bbb");

    ws.addEventListener("open", () => {
        ele.value = ele.value + "已连接到服务器\n";
    });

    ws.addEventListener("message", (event) => {
        ele.value = ele.value + "收到消息:"+event.data+"\n";
    });

    ws.addEventListener("close", () => {
        ele.value = ele.value + "已断开与服务器的连接\n";
    });

    function sendMessage(message) {
        ele.value = ele.value + "发送消息:"+message+"\n";
        ws.send(message);
    }

</script>